<!-- FOCUSING ON WHAT MATTERS BELIEVING SECTION-->

<!--Content Section-->
      <div id="Timeline" class="scrollto clearfix">

        <div class="row no-padding-bottom clearfix">

            <!--Content of the Right Side-->
            <div class="col-4">
                <div class="section-heading">
                    <h3>information on work, academic and personal projects</h3>
                    <h2 class="section-title">Timeline</h2>
                    <p class="section-subtitle">
                        
                    </p>
                </div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.
                </p>
            </div>
            <!--End Content Right Side-->

            <div class="col-3-4">
                    <div class="container">
                        
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td> <b>Experience </b> </td>
                                    <td> <b>Information</b></td>
                                    <td> <b>Dates      </b></td>
                                    <td> <b>Links       </b> </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>personal</td>
                                    <td>updated Portfolio</td>
                                    <td>2020 September - October</td>
                                    <td><a href="https://github.com/OishinSmith/AngularWebsite" target="_blank"><img src="../asset/img/github.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                                <tr>
                                    <td>personal</td>
                                    <td>sockets.io game</td>
                                    <td>2020 June</td>
                                    <td><a href="https://github.com/OishinSmith/agario" target="_blank"><img src="../asset/img/github.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                                <tr>
                                    <td>Academic</td>
                                    <td>Academic paper</td>
                                    <td>2019 February - June</td>
                                    <td><a href="https://link.springer.com/chapter/10.1007/978-3-030-56441-4_15" target="_blank"><img src="../asset/img/link.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                                <tr>
                                    <td>Academic</td>
                                    <td>4th Year Project</td>
                                    <td>2019 September - June</td>
                                    <td><a href="https://gitlab.computing.dcu.ie/smitho25/2020-ca400-osmith-aedgeworth" target="_blank"><img src="../asset/img/github.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                                <tr>
                                    <td>Personal</td>
                                    <td>Website</td>
                                    <td>2020 January</td>
                                    <td><a href="https://github.com/OishinSmith/OishinSmith.github.io" target="_blank"><img src="../asset/img/github.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                                <tr>
                                    <td>Software Engineer</td>
                                    <td>Veritas</td>
                                    <td>2019 April - September</td>
                                    <td><a href="https://www.veritas.com/en/uk" target="_blank"><img src="../asset/img/link.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                                <tr>
                                    <td>Network Engineer</td>
                                    <td>Student Appartment</td>
                                    <td>2016,2017,2018 June - August</td>
                                    <td><a href="https://www.facebook.com/alquilercuartos.lambayeque.9" target="_blank"><img src="../asset/img/link.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                                <tr>
                                    <td>Academic</td>
                                    <td>3rd Year Project</td>
                                    <td>2018 September - March</td>
                                    <td><a href="https://gitlab.computing.dcu.ie/pereczd2/2019-ca326-pereczd2-idwallet" target="_blank"><img src="../asset/img/github.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                                <tr>
                                    <td>Academic</td>
                                    <td>Online Scrabble</td>
                                    <td>2018 September - 2019 December</td>
                                    <td><a href="https://gitlab.computing.dcu.ie/murphe97/ca314_myscrabble_group9" target="_blank"><img src="../asset/img/github.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                                <tr>
                                    <td>Modding</td>
                                    <td>Minecraft</td>
                                    <td>2018 August</td>
                                    <td><a href="https://github.com/OishinSmith/Ruby-Mod-3.0" target="_blank"><img src="../asset/img/github.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                                <tr>
                                    <td>Web Developer</td>
                                    <td>BRS Golf</td>
                                    <td>October 14 - October 21</td>
                                    <td><a href="http://www.brsgolf.com/web/" target="_blank"><img src="../asset/img/link.png" style="width: 30px; height: 30px">	</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>

        </div>


    </div>
    <!--End of Content Section-->