
<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38" style="background-color: white; opacity: 90%;">

            <div class="section-heading">
                <div id="header"></div>
                <h1>So here's my website!</h1>
                <h2>
                    My name's Oishin Smith. i'm a software engineer.
                    i thought it'd be a brilliant idea to create a brand new website with the 
                    intention of learning new technology and improving my skills. So i did!
                </h2>
            </div>
        </div>

    </div><!--End of Row-->
</header>