  <!--Clients-->
  <section id="Portfolio" class="scrollto clearfix">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h3>TRUST</h3>
                <h2 class="section-title">Portfolio</h2>
                <p class="section-subtitle">The technology Im most familiar with is java, python, github, VS code, windows, HTML and css. the 
                    rest of the technologies listed on the right I either am in the process of learning or I have not used in a while.
                </p>
            </div>

        </div>

        <div class="col-2-3">

        <div class="col-2"> 

                <h2 style="text-align: center;">TECHNOLOGY I'M FAMILIAR WITH</h2>
                <div class="col-4 skill-icon">
                    <h6>html &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                    <img class="img-responsive" src="../../assets/img/html.png" id="html"><br>	
                </div>
                <div class="col-4 skill-icon">
                    <h6>css &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                    <img class="img-responsive" src="../../assets/img/css.png" id="css"><br>	
                    </div>
                <div class="col-4 skill-icon">
                    <h6>Javascript &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                    <img class="img-responsive " src="../../assets/img/js.png" id="js">	<br>	
                    </div>
                <div class="col-4 skill-icon">
                    <h6>jquery &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                    <img class="img-responsive" src="../../assets/img/jquery.png" id="jquery"> <br>		
                    </div>
       

 
                <div class="col-4 skill-icon">
                    <h6>bootstrap &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                    <img class="img-responsive" src="../../assets/img/bootstrap.png" id="bootstrap">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>suse linux</h6>
                            <img class="img-responsive" src="../../assets/img/suselinux.jpg" id="suse linux">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>python &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                        <img class="img-responsive" src="../../assets/img/python.png" id="python">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>java &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                        <img class="img-responsive" src="../../assets/img/java.png" id="java">		
                    </div>



                <div class="col-4 skill-icon">
                    <h6>c# &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                        <img class="img-responsive" src="../../assets/img/csharp.png" id="C sharp">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>android studio </h6>
                        <img class="img-responsive" src="../../assets/img/androidstudio.jpg" id="android studio">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>github &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                        <img class="img-responsive" src="../../assets/img/github.png" id="github">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>MySQL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                        <img class="img-responsive" src="../../assets/img/mysql.jpg" id="MySQL">		
                    </div>



                <div class="col-4 skill-icon">
                    <h6>pycharm</h6>
                        <img class="img-responsive" src="../../assets/img/pycharm.png" id="pycharm">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>ecplise</h6>
                        <img class="img-responsive" src="../../assets/img/ecplise.png" id="github">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>VS code</h6>
                        <img class="img-responsive" src="../../assets/img/vscode.png" id="visual studio code">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>windows</h6>
                        <img class="img-responsive" src="../../assets/img/windows.png" id="windows">		
                    </div>


                <div class="col-4 skill-icon">
                    <h6>prolog</h6>
                        <img class="img-responsive" src="../../assets/img/prolog.png" id="prolog">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>angular</h6>
                        <img class="img-responsive" src="../../assets/img/angular.png" id="angular">		
                    </div>
                <div class="col-4 skill-icon">
                    <h6>matlab</h6>
                        <img class="img-responsive" src="../../assets/img/matlab.png" id="matlab">		
                    </div>
                
        </div>

        

        <div class="col-2">
            <div class="text-center places-worked">
                <h2 style="padding-bottom: 20px">Companies I've worked for</h2>
                
                <a href="https://www.veritas.com/en/uk">
                    <img src="../../assets/img/veritas.png" id="VeritasLogo" >
                    <h5 style="color: rgb(119, 119, 119);">Veritas Technologies LLC</h5>
                </a>
                <a href="http://www.brsgolf.com/web/">
                    <img src="../../assets/img/brsgolf.png" id="BRS golf" >
                </a>
            </div>
        </div>

        </div>

    </div>
</section>
<!--End of Clients-->